.all_views_white__bg
  = render partial: 'shared/header'
  .posting_box
    .container_box
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        %h3
          編集する
        %p ニックネーム(8文字以下)
        = f.text_field :name,                      class: "user_edit_input"
        %p メールアドレス
        = f.email_field :email,                    class: "user_edit_input"
        %p 変更後のパスワード(6文字以上)
        = f.password_field :password,              class: "user_edit_input", placeholder: "※ 変更したい場合のみ入力"
        %p 変更後のパスワード(確認用)
        = f.password_field :password_confirmation, class: "user_edit_input"
        = f.submit "更新", class: "user_edit_submit_btn"
      .user_delete_btn
        = button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete