.login_big_bg
  = render partial: 'shared/header'
  .login_wrapper_box
    .max_width_box
      .login_upper_box
        %h1 LOGIN
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "input-default", placeholder: "メールアドレス"
          .field
            = f.password_field :password, autocomplete: "current-password", class: "input-default", placeholder: "パスワード"
          .submit
            = f.submit "ログイン", class: "add_registration_btn"
          .login_separate
            or
          = link_to users_guest_sign_in_path, method: :post do
            かんたんログイン
          %p ※かんたんログインによって、ゲストユーザとして・投稿・コメントなどをお楽しみ頂けます。
      .login_bottom_box
        %h1 SIGN UP
        %p アカウントをお持ちでない方はこちらからご登録ください。
        = link_to new_user_registration_path do
          登録する