.all_views_white__bg
  = render partial: 'shared/header'
  .posting_box
    .container_box
      = form_with(model: @post, url: post_path, local: true) do |form|
        %h3
          編集する
        %p フレーズ
        = form.text_field :text,         class: "posting_input", placeholder: "60文字以内"
        %p タイトル
        = form.text_field :title,        class: "posting_input", placeholder: "20文字以内"
        %p 著者
        = form.text_field :author,       class: "posting_input", placeholder: "12文字以内"
        %p 説明
        = form.text_area :introduction,  class: "posting_input", placeholder: "130文字以内", rows: "6"
        %p 画像
        %p (編集する場合のみ選択してください)
        = form.file_field :image,        class: "posting_image"
        = form.submit "完了", class: "posting_submit_btn"