= render partial: 'shared/header'
.index_wrapper
  .posts
    .post
      .post__top
        .post__top__user
          %img.icon(src="" alt="")/
          = link_to "" do
            ユーザ名
      .post__center
        %img.image(src="" alt="")/
        %h5.post__center__content
          なぜ家庭にあるのが"イカ焼き器"ではなく"たこ焼き器"なのか
      .post__bottom
        %p.post__bottom__title
          『壺からの脱出』
        %p.post__bottom__author
          著者: 伊藤駿介
        %p.post__bottom__content
          この作品ではタコが人間になるまでの過程を描いているため、今後はイカを積極的に食べていこうと思える作品です。
    .post
      .post__top
        .post__top__user
          %img.icon(src="" alt="")/
          = link_to "" do
            ユーザ名
      .post__center
        %img.image(src="" alt="")/
        %h5.post__center__content
          なぜ家庭にあるのが"イカ焼き器"ではなく"たこ焼き器"なのか
      .post__bottom
        %p.post__bottom__title
          『壺からの脱出』
        %p.post__bottom__author
          著者: 伊藤駿介
        %p.post__bottom__content
          この作品ではタコが人間になるまでの過程を描いているため、今後はイカを積極的に食べていこうと思える作品です。
    .post
      .post__top
        .post__top__user
          %img.icon(src="" alt="")/
          = link_to "" do
            ユーザ名
      .post__center
        %img.image(src="" alt="")/
        %h5.post__center__content
          なぜ家庭にあるのが"イカ焼き器"ではなく"たこ焼き器"なのか
      .post__bottom
        %p.post__bottom__title
          『壺からの脱出』
        %p.post__bottom__author
          著者: 伊藤駿介
        %p.post__bottom__content
          この作品ではタコが人間になるまでの過程を描いているため、今後はイカを積極的に食べていこうと思える作品です。
    .post
      .post__top
        .post__top__user
          %img.icon(src="" alt="")/
          = link_to "" do
            ユーザ名
      .post__center
        %img.image(src="" alt="")/
        %h5.post__center__content
          なぜ家庭にあるのが"イカ焼き器"ではなく"たこ焼き器"なのか
      .post__bottom
        %p.post__bottom__title
          『壺からの脱出』
        %p.post__bottom__author
          著者: 伊藤駿介
        %p.post__bottom__content
          この作品ではタコが人間になるまでの過程を描いているため、今後はイカを積極的に食べていこうと思える作品です。
    .post
      .post__top
        .post__top__user
          %img.icon(src="" alt="")/
          = link_to "" do
            ユーザ名
      .post__center
        %img.image(src="" alt="")/
        %h5.post__center__content
          なぜ家庭にあるのが"イカ焼き器"ではなく"たこ焼き器"なのか
      .post__bottom
        %p.post__bottom__title
          『壺からの脱出』
        %p.post__bottom__author
          著者: 伊藤駿介
        %p.post__bottom__content
          この作品ではタコが人間になるまでの過程を描いているため、今後はイカを積極的に食べていこうと思える作品です。