= render partial: 'shared/header'
.show_wrapper
  .show_content
    .post
      .post__top
        .post__top__user
          %img.icon(src="" alt="")/
          = link_to "" do
            = @post.user.name
          .post__top__user__more
            -# %span= image_tag 'arrow_top.png'
            .fas.fa-angle-down
            %ul.more_list
              %li
                -# = link_to '詳細', "/posts/#{@post.id}", method: :get
              - if user_signed_in? && current_user.id == @post.user_id
                %li
                  = link_to '編集', edit_post_path(@post), method: :get
                %li
                  = link_to '削除', "/posts/#{@post.id}", method: :delete
      .post__center
        %img.image(src="" alt="")/
        %h5.post__center__content
          = @post.text
      .post__bottom
        %p.post__bottom__title
          『
          = @post.title
          』
        %p.post__bottom__author
          著者:
          = @post.author
        %p.post__bottom__content
          = @post.introduction
    .comment_wrapper
      .comments
        %h4 ＜コメント一覧＞
        .comment
          %strong
            = link_to "" do
              ユーザ名 
            ：
          コメント
        .comment
          %strong
            = link_to "" do
              ユーザ名 
            ：
          コメント